[flake8]
max-line-length = 100
statistics = true
count = true

noqa-require-code = true
pytest-mark-no-parentheses = true

exclude =
    .git
    __pycache__
    .nox
    .eggs
    *.egg
    *.egg-info
    .vscode
    .venv
    venv
    .mypy_cache
    .pytest_cache
    build
    test_bot

# For error codes, see this https://flake8.pycqa.org/en/latest/user/error-codes.html
ignore =
    # whitespace before ':', linebreak before operator. Not compatible with black
    E203,W503,
    # ignore linebreak after `/` operator
    W504,
    # line too long. Acceptable at the moment since these are mostly comments
    E501,
    # assigning lambdas to variables
    E731,
    # ignore try-except-pass. Bare excepts are caught with B001 and E722
    S110,
    # ignore multiple `##` starting a comment
    E266,
